/.ProcesamientoOrdenarlosPorCalorias.java._trace
/.ProcesamientoOrdenarlosPorNombre.java._trace
/.ProcesamientoParaTomarLosPrimerosN.java._trace
/.ProcesamientoParaTomarResultadosPares.java._trace
/.ProcesamientoPosterior.java._trace
