<table table cellpadding="0" cellspacing="0" border='1' align="center"
	class="table table-striped table-bordered table-hover"
	style="width: 85%">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Calorias</th>
			<th>Dificultad</th>
			<th>Temporada</th>
			<th><button type="submit" class="form-group btn btn-primary"
					ng-click="user.listarRecetas()">Actualizar</button>
		</tr>
	</thead>
	<tbody style="font-size: 12px">
		<tr ng-repeat="receta in user.recetas">
			<td ng-bind="receta.nombrePlato"></td>
			<td ng-bind="receta.totalCalorias"></td>
			<td ng-bind="receta.dificultad"></td>
			<td ng-bind="receta.temporada"></td>
			<td><button type="submit" ng-click="user.abrirReceta(receta)"
					class="btn btn-primary form-control">Ver</button>
		</tr>
</table>
